<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>YelpCamp</title>
	<link rel="stylesheet" type="text/css" href="/BaseStructure.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<ul class="leftHeaderMenu">
			<li id="CoTitle">YelpCamp</li>
			<li><a href="/">Home</a></li>
			<li><a href="/campgrounds">View All Campgrounds</a></li>
		</ul>
		<ul class="rightHeaderMenu">
		<% if(!currentUser){ %>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		<% }else{ %>
			<li>Signed In As: <%= currentUser.username %></li>
			<li><a href="/logout">Logout</a></li>
		<% } %>
		</ul>
	</nav>
	<header>
		<div id="header_text">
			<h1><a href="/">YelpCamp</a></h1>
			<h3>The Camp for all your Yelping</h3>
		</div>
	</header>	
	<main>