<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Quick Movie Search - Open Movie Database</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<div id="hero_text">
			<h1>Open Movie Database</h1>
			<h3>The quick search for movie info</h3>	
		</div>
	</header>
	<main>