<% include partials/header %>
	<div id="error_404">
		<h3>I dont know how you got here, but theres nothing to see.</h3>
		<h3>GO BACK FROM WHERST YE CAME</h3>
		<h1>404</h1>
	</div>

<% include partials/footer %>