<% include partials/header %>

	<h1>Campgrounds Page</h1>

	<div class="campground_feed">
		<% campgrounds.forEach((e)=>{ %>
			<a href="/campgrounds/<%= e._id %>" class="campground_card">
				<img src="<%= e.image %>" alt="campground image" class='camp_img'>
				<div class="camp_content">
					<p class="camp_title uppercase"><%= e.name %></p>
				</div>
			</a>	
		<% }); %>
	</div>

	<a href="/campgrounds/new" class="button">Add a new campground!</a>

<% include partials/footer %>