body{
	margin: 0;
	padding: 0;
	color: #222;
}

header{
	padding: 5rem;
	background-color: #bada55;
	color: red;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
	text-align: center;
}

main{
	padding: 1rem 5rem;
	margin: 0;
	min-height: 60vh;
}

footer{
	padding: 2rem;
	text-align: center;
	background-color: #555;
	color: #fff;
}

/* ========================================
			404 Page
======================================== */

#error_404{
	text-align: center;
	font-size: 2rem;
	color: #000;
}